
<div class="pass-reset-scrn">
  <div class="cloud-banner">
    <img src="<%= asset_path('admin/cloud_bannr1.svg') %>">
    <img class="cloud-bannr" src="<%= asset_path('admin/cloud_bannr22.png') %>">
  </div>
  <div class="pass-reset-main-section">
    <div class="pass-reset-subsection">
      <div class="schloop-logo-sec">
        <a href="/"><img class="schloop-img" src="<%= asset_path('home/schloop.png') %>"></a>
      </div>
      <%= form_for @user, :url => password_resets_update_path do |f| %>
        <input type="hidden" name="token" value="<%= params[:format] %>">
        <div class="form-group">
          <input type="password" class="form-control input-field new" id="password" required name="user[password]" autocomplete="off" placeholder="New Password"  minlength="6" maxlength="15"/>
          <a class="pull-right pass-show">Show</a>
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-field confirm" required name="user[password_confirmation]" autocomplete="off" placeholder="Confirm Password"  minlength="6" maxlength="15"/>
          <a class="pull-right pass-show">Show</a>
        </div>
        <p class="show_err hidden">Password does not match. Try again</p>
        <div class="pt20">
          <button type="button" class="btn btn-primary btn-full-width text-uppercase reset"> reset & continue </button>          
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="footer-section">
</div>