
 <div class="jumbotron">
<h1> All Circulars</h1> 
</div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class ="row">
        <div class="col-md-12">
      
          <div class="table-responsive">
            <table class="table"
            <tbody>
              <tr>
              	<th> title </th>
              	<th> body </th>
              	<th> type </th>
              	<th> created by </th>
              	<th> action </th>
              </tr>	
              <tr>
              <% @circulars.each do |circular| %>
              <tr>
              	<td>  <%= circular.title%></td>
              	 <td> <%= circular.body %></td>
              	 <td>  <%= circular.circular_type%></td>
              	 <td>  <%= circular.created_by_type %></td>
              	 <td>
              	 	<div class="thumbnail"> 
              			<%= link_to 'show', '/admin/schools/(@school)/ecirculars/(@ecircular)' %>
         			</div>
              	 </td>
              </tr>
              <% end %> 
            </tbody>
          </table>
         </div>
      </div>
      <div class="col-md-7 col-md-offset-1">