
<div class="school-main-section">
  <div class="container">
    <div class="text-center mb50">
      <h3>Upload <%= @grade.name %> CSV</h3>
      <p>Uploading  a  file  will  update  an  existing  student  profile  if  it  exists.  For  new records, they will be added to the current list</p>
    </div>




<%= form_for @parent_import,  :url => admin_parent_imports_path do |f| %>
  <% if @parent_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @parent_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= hidden_field_tag :school_id,  @school.id%>
  <%= hidden_field_tag :grade_id,  @grade.id%>
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

</div>
</div>