<h1>teacher Import</h1>




<%= form_for @teacher_import,  :url => imports_admin_teachers_path do |f| %>
  <% if @teacher_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @teacher_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
