<div class="main-page-section-wrap">
	<header class="logo-header-section">
		<div class="logo-header-inner">
		<img class="schloop-img" src="<%= asset_path('home/schloop.png') %>">
		<p>A close loop between Schools, Parents & Students</p>
		</div>
	</header>
	<section class="main-body-wrap">
		<div class="schools-signin-section col-wrap">
			<img src="<%= asset_path('home/a_school.png') %>">
			<h3>Schools</h3>
			<p> Open a collaborative channel with parents to build engagement & trust</p>
			<div class="sign-in-lnk-section">
	        	<% if current_user.blank? %>
	          		<button class="btn-custom btn-primary-custom sign-in-link" data-toggle="modal" data-target="#signInModal" >SIGN IN</button>
	        	<% else %>
	       			<a href="<%= after_sign_in_path_for(current_user) %>" class="btn-custom btn-primary-custom">VIEW PROFILE</a>
	       		<% end %>
        	</div>
		  	<img class="balloon img-responsive" src="<%= asset_path('home/air_balloon.png') %>">
        	<img class="left-trees pa img-responsive hidden-xs" src="<%= asset_path('home/left_trees.png') %>">
        	<img class="alarm_clock pa img-responsive hidden-xs" src="<%= asset_path('gif/alarm_clock.gif') %>">
        	<img class="school-img pa img-responsive hidden-xs" src="<%= asset_path('gif/school.gif') %>">
        	<div class="oval pa"></div>
		</div>
		<div class="teachers-signin-section col-wrap">
			<img class="mt90" src="<%= asset_path('home/a_teachers.png') %>">
			<h3>Teachers</h3>
			<p> Your world to discover knowledge. Your world to build it.</p>
			<div class="teacher-sign-in">
				<% if current_teacher.blank? %>
	          		<button class="btn-custom btn-primary-custom sign-in-link" data-toggle="modal" data-target="#signInModal" data-teacher_login="true">SIGN IN</button>
	        	<% else %>
	       			<a href="<%= after_sign_in_path_for(current_teacher) %>" class="btn-custom btn-primary-custom">VIEW PROFILE</a>
	       		<% end %>
			</div>
			<div class="store-btn-section mt15">
				<p>Available on</p>
				<div class="store-btn">
					<a href="#"><img src="<%= asset_path('home/app_store.png') %>"></a>
					<a href="#"><img src="<%= asset_path('home/play_store.png') %>"></a>
				</div>
			</div>
			<img class="bulb pa img-responsive hidden-xs" src="<%= asset_path('gif/bulb.gif') %>">
        	<img class="center-trees pa img-responsive hidden-xs" src="<%= asset_path('home/center_trees.png') %>">
        	<img class="bench pa img-responsive hidden-xs" src="<%= asset_path('home/bench.png') %>">
        	<img class="cup pa img-responsive hidden-xs" src="<%= asset_path('home/cup.png') %>">
		</div>
		<div class="parents-link-section col-wrap">
			<img class="mt35" src="<%= asset_path('home/a_parents.png') %>">
			<h3>Parents</h3>
			<p>Partner closely with schools in your child’s development</p>
			<div class="store-btn-section">
				<p>Available on</p>
				<div class="store-btn">
					<a href="#"><img src="<%= asset_path('home/app_store.png') %>"></a>
					<a href="#"><img src="<%= asset_path('home/play_store.png') %>"></a>
				</div>
			</div>
			<div class="rotate">
			<img class="satellite img-responsive hidden-xs" src="<%= asset_path('home/satellite.png')%>">
			</div>
			<img class="stars img-responsive hidden-xs" src="<%= asset_path('gif/stars.gif') %>">
        	<img class="ball pa img-responsive hidden-xs" src="<%= asset_path('home/ball.png') %>">
        	<img class="globe pa img-responsive hidden-xs" src="<%= asset_path('home/globe.png') %>">
        	<img class="books pa img-responsive hidden-xs" src="<%= asset_path('home/books.png') %>">
        	<img class="rigth-trees pa img-responsive hidden-xs" src="<%= asset_path('home/rigth_trees.png') %>">
		</div>
	</section>
	<div class="slide">
		<img class="cloud-1 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_1.png') %>">
		<img class="cloud-2 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_2.png') %>">
		<img class="cloud-3 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_1.png') %>">
		<img class="cloud-4 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_3.png') %>">
		<img class="cloud-5 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_2.png') %>">
		<img class="cloud-6 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_1.png') %>">
		<img class="cloud-7 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_1.png') %>">
		<img class="cloud-8 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_2.png') %>">
		<img class="cloud-9 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_1.png') %>">
		<img class="cloud-10 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_3.png') %>">
		<img class="cloud-11 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_2.png') %>">
		<img class="cloud-12 pas img-responsive hidden-xs" src="<%= asset_path('home/cloud_1.png') %>">
	</div>
</div>
<footer id='footer'>
	<img src="<%= asset_path('gif/flask.gif') %>">
	<div class="contact-us-section">
		<p>Write to us at</p>
		<a href="mailto:contact@schloop.co" class="contact-link">contact@schloop.co</a>
		<p><a class="policy" href="/privacy_policy">Privacy policy</a></p>
	</div>
</footer>

<div class="modal fade" id="signInModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="close-login-form">x</div>
          <img class="img-responsive centre-content" src="<%= asset_path('home/schloop.png') %>">

          <div id="loginDiv" class="mt30" >
            <%= form_tag '/users/sign_in', method: :post, id:"login-form", novalidate:true do %>
                <div class="form-group">
                  <input type="email" class="form-control input-field" required name="user[email]" autocomplete="off" placeholder="Email Address" maxlength="40" />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-field" required name="user[password]" autocomplete="off" placeholder="Password"  maxlength="12" />
                </div>
                <div>
                  <label id="labelForgotPassword" class="text-color btn btn-link pl0" data-teacher_login="true">Forgot Password</label>
                </div>
                <p class="show_err"></p>
                <div class="form-group mt20">
                  <button type="submit" class="btn btn-primary btn-full-width text-uppercase">sign in</button>
                </div>
            <% end %>
          </div>

          <div id="forgotPasswordDiv" class="hidden mt30" >
            <%= form_tag 'password_resets/create' , id:"forgot-password-form", novalidate:true do %>
                <input type="hidden" name="user_type" value="SchoolAdmin">
                <div class="form-group">
                  <input type="email" class="form-control input-field" required name="email" autocomplete="off" placeholder="Email Address"  maxlength="40" />
                </div>
                <p class="show_error"></p>
                <div class="form-group mt50">
                  <button type="submit" class="btn btn-primary btn-full-width text-uppercase"> send a rest password link </button>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>