
<div class="tab-pane fade in circulars-container new_circular_active" id="circulars-tab">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <div class="home-logo" style="background-image: url('<%= asset_path('school_admin.png') %>');">

      </div>
      <div class="heading-wrapper">
        <h2><%= @school.name %></h2>
        <p><%= @school.code %></p>
      </div>
    </div>
    <div class="history-circular-btn-wrap">
      <a class="pull-right p10px history_btn" data-type="history">History</a>
      <a class="pull-right p10px new_circular_btn" data-type="new_circular">New Circular</a>
    </div>

    <div class="circulars-main-form">
      <%=  form_tag "/admin/schools/#{@school.id}/ecirculars", class:"school-ecircular-form", method: 'post' do %>
        <div class="form-group col-md-12">
          <input type="text" class="form-control input-field" required name="title" placeholder="Subject" autocomplete="off" maxlength="50" />
        </div>
        <div class="form-group col-md-12">
          <input type="text" class="form-control input-field" placeholder="Body" autocomplete="off" maxlength="10" disabled="disabled"/>
          <textarea class="form-control input-field circular-textarea" required name="body"></textarea>
        </div>
        <div class="col-md-12">
          <div class="col-md-5 border_botm">
              <a id="select-recipients-popover" tabindex="0" data-toggle="popover" role="button" data-value="select-recipients-popover-content" data-placement="top">
		          	    	<span class="select-recipients">
						      <p class="select-recipients_name">Select recipients</p>
						      <p class="fa fa-chevron-down"></p>
						    </span>
              </a>
          </div>
          <div class="col-md-4 border_botm">
              <a id="select-circular-popover" tabindex="0" data-toggle="popover" role="button" data-value="select-circular-popover-content" data-placement="top">
                <span class="select-recipients">
						        <p class="selected_circular_tag">Select E-Circular</p>
						        <input type="hidden" class="cirular_value" name="circular_tag" value="">
						        <p class="fa fa-chevron-down"></p>
						    </span>
              </a>
          </div>
          <div class="col-md-2">
              <button type="submit" class="btn btn-primary">SEND</button>
          </div>
        </div>
      <% end %>
    </div>


    <div class="ecirculars-history-section">
      <ul class="circular-history-list">

      </ul>
    </div>

  </div>
</div>

<div id="select-recipients-popover-content" class="hidden">
  <div class="recipients-container-wrap">
    <!--<ul id="recipients-Tab" class="nav nav-tabs">
      <li class="active">
        <a href="#all-grade-section-tab" aria-controls="all-grade-section-tab" role="all-grade-section-tab" data-toggle="tab">All grades</a>
      </li>
      <li>
        <a href="#selected-grade-section-tab" aria-controls="selected-grade-section-tab" role="selected-grade-section-tab" data-toggle="tab">Only Selected Grades</a>
      </li>
    </ul>
    -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="all-grade-section-tab">
        <% @grades.each do |grade|%>
            <div class="std_name">
              <span class="col-md-12 checkbox_customized">
                <input class='chek_cls grade_checkbox' value="<%= grade.id %>" type="checkbox" id="grade_circular_<%= grade.name %>" >
                <label for="grade_circular_<%= grade.name %>"><%= grade.name %></label>
              </span>
              <ul class="checkbox_customized">
                <% grade.divisions.each do |division| %>
                    <li class="col-md-2">
                      <input type="checkbox" class="division_checkbox" name="grades[<%= grade.id %>]division[]" value="<%= division.id %>" id="div_circular_<%= division.name %>" data-grade_id="<%= grade.id %>">
                      <label for="div_circular_<%= division.name %>"><%= division.name %></label>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

      <!--
      <div class="tab-pane fade in" id="selected-grade-section-tab">
        <div class="std_name">
              <span class="col-md-12 checkbox_customized">
                <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
                <label for="check1">A</label>
            </span>
          <ul class="checkbox_customized">
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
          </ul>
        </div>
      </div>

      -->
    </div>
  </div>
</div>

<div id="select-circular-popover-content" class="hidden">
  <div class="select-circular-container">
    <% @circular_tags.each do |key, value| %>
        <div class="radio">
          <input type="radio" name="radio_select" value="<%= key %>" id="circular_tags_<%= value %>">
          <label for="circular_tags_<%= value %>"> <%= key.humanize %> </label>
        </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="circular-history-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="content-wrapper">
            <div class="preview-container">
              <div class="subject-body pb10">
                <h4>School closed on Monday,Oct 20 2016 due to Diwali</h4>
                <p>
                  lgdjhbsdjhvbdljsbfljksbfljkbflkjsbflkjsblkjfblkfjb
                  jfnlkjfblkjfblkdjbflkjf
                  lfkn;dkfnlkdjnf
                  dlkfnkdjfbkj
                  dlkfjldkfnlkn
                  mfldknflknf
                </p>
              </div>
              <div class="attachments-list">
                <h4>Attachments</h4>
                <p>Image1</p>
                <p>Image2</p>
              </div>
              <div>
                <h4>Sent to</h4>
                <p>Grade I (A, B, C)</p>
                <p>Grade II (A, B, C)</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>           


<script id="circular-history-list-tpl" type="text/html">
  {{#circulars}}
    <li class="circular-history-item">
      <div class="pb10">
        <h4 class="circular-subject">{{ title }}</h4>
        <p class="sent-by">{{ format_created_on }} | Sent by {{#created_by}}{{name}}{{/created_by}}</p>
      </div>
      <p class="sent-to">Sent to {{formatted_recipients}}</p>
    </li>
  {{/circulars}}
  {{^circulars}}
      <li>Circulars not available</li>
  {{/circulars}}
</script>

