
<div class="tab-pane fade in circulars-container new_circular_active" id="circulars-tab">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <div class="home-logo" style="background-image: url('<%= asset_path('school_admin.png') %>');">

      </div>
      <div class="heading-wrapper">
        <h2><%= @school.name %></h2>
        <p><%= @school.code %></p>
      </div>
    </div>
    <div class="history-circular-btn-wrap">
      <a class="pull-right p10px history_btn" data-type="history">History</a>
      <a class="pull-right p10px new_circular_btn" data-type="new_circular">New Circular</a>
    </div>

    <div class="circulars-main-form">
      <%=  form_tag "/admin/schools/#{@school.id}/ecirculars", class:"school-ecircular-form", method: 'post' do %>
        <div class="form-group col-md-12">
          <input type="text" class="form-control input-field" required name="title" placeholder="Subject" autocomplete="off" maxlength="50" />
        </div>
        <div class="form-group col-md-12">
          <textarea class="form-control input-field circular-textarea" name="body" placeholder="Body"></textarea>
        </div>
        <div class="col-md-12 mt20 req-filed">
          <div class="col-md-5 border_botm">
              <a id="select-recipients-popover" tabindex="0" data-toggle="popover" role="button" data-value="select-recipients-popover-content" data-placement="top">
		          	    	<span class="select-recipients">
						      <p class="select-recipients_name">Select recipients</p>
						      <p class="fa fa-chevron-down"></p>
						    </span>
              </a>
          </div>
          <div class="col-md-4 border_botm">
              <a id="select-circular-popover" tabindex="0" data-toggle="popover" role="button" data-value="select-circular-popover-content" data-placement="top">
                <span class="select-recipients">
						        <p class="selected_circular_tag">Select E-Circular</p>
						        <input type="hidden" class="cirular_value" required name="circular_tag" value="">
						        <p class="fa fa-chevron-down"></p>
						    </span>
              </a>
          </div>
        </div>  
      <% end %>
      <div class="pl15 pr15" id="file-attachment">
        <div class="col-md-12 border-botm">
          <div id="col-md-6 mb0">
            <form class="fileDetails uploadFiles_btn_container clearfix" style="display: block;">
              <input type="hidden" class="circular_id_hidden_input" name="id" />
              <%= hidden_field_tag :type,  'reference'%>
              <div class="row">
                <div class="form-group col-md-6 image-attach">
                  <div class="file_upload_files--upload-block">
                      <div class="fileUpload file_upload_files--fileUploadBtn">
                        <span><i class="fa fa-cloud-upload"></i> choose file</span>
                        <input class="fileuploadInput upload" type="file" multiple name="file" data-url="/admin/schools/:school_id/ecirculars/upload_file" accept="image/* , .xls, .xlsx, .doc, .docx, .pdf">
                      </div>
                      <button class="btn btn-primary text-uppercase disabled uploadBtn hidden">upload</button>
                      <div class="progressWrap" style="padding: 15px 0px;display: none;">
                        <div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <table class="selected_files"></table>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2 send-btn">
          <button id="circularSubmit" class="btn btn-primary">SEND</button>
      </div>
    </div>


    <div class="ecirculars-history-section">
      <ul class="circular-history-list">

      </ul>
    </div>

  </div>
</div>

<div id="select-recipients-popover-content" class="hidden">
  <div class="recipients-container-wrap">
    <!--<ul id="recipients-Tab" class="nav nav-tabs">
      <li class="active">
        <a href="#all-grade-section-tab" aria-controls="all-grade-section-tab" role="all-grade-section-tab" data-toggle="tab">All grades</a>
      </li>
      <li>
        <a href="#selected-grade-section-tab" aria-controls="selected-grade-section-tab" role="selected-grade-section-tab" data-toggle="tab">Only Selected Grades</a>
      </li>
    </ul>
    -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="all-grade-section-tab">
        <% @grades.each do |grade|%>
            <% if grade.divisions.count != 0 %>
              <div class="std_name">
                <span class="col-md-12 checkbox_customized">
                  <input class='chek_cls grade_checkbox' value="<%= grade.id %>" type="checkbox" id="grade_circular_<%= grade.name %>" >
                  <label for="grade_circular_<%= grade.name %>"><%= grade.name %></label>
                </span>
                <ul class="checkbox_customized">
                  <% grade.divisions.each do |division| %>
                      <li class="col-md-2">
                        <input type="checkbox" class="division_checkbox" name="grades[<%= grade.id %>]division[]" value="<%= division.id %>" id="<%= grade.id %>div_circular_<%= division.name %>" data-grade_id="<%= grade.id %>">
                        <label for="<%= grade.id %>div_circular_<%= division.name %>"><%= division.name %></label>
                      </li>
                  <% end %>
                </ul>
              </div>
            <% end %>  
        <% end %>
      </div>

      <!--
      <div class="tab-pane fade in" id="selected-grade-section-tab">
        <div class="std_name">
              <span class="col-md-12 checkbox_customized">
                <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
                <label for="check1">A</label>
            </span>
          <ul class="checkbox_customized">
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
            <li class="col-md-2">
              <input type="checkbox" name="subjects[]" value="grade1" id="check1" >
              <label for="check1">A</label>
            </li>
          </ul>
        </div>
      </div>

      -->
    </div>
  </div>
</div>

<div id="select-circular-popover-content" class="hidden">
  <div class="select-circular-container">
    <% @circular_tags.each do |key, value| %>
        <div class="radio">
          <input type="radio" name="radio_select" value="<%= key %>" id="circular_tags_<%= value %>">
          <label for="circular_tags_<%= value %>"> <%= key.humanize %> </label>
        </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="circular-history-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>           


<script id="circular-history-detail-tpl" type="text/html">
  {{#circular}}
  <div class="content-wrapper">
    <div class="preview-container">
      <div class="subject-body pb10">
        <h4>{{ title }}</h4>
        <p>
          {{ body }}
        </p>
      </div>
      <div class="attachments-list">
        <h4>Attachments</h4>
        {{#attachment_file}}
        <ul>
          <li><a href="{{s3_url}}" target="_blank">{{original_filename}}</a></li>
        </ul>  
        {{/attachment_file}}
        <ul class="col-md-12 att-list">
        {{#attachment_img}}
          <li class="col-md-4">
           <img src="{{s3_url}}">
          </li>
        {{/attachment_img}}
        </ul>
      </div>
      <div>
        <h4>Sent to</h4>
        {{#formatted_grades}}
          <p>{{name}}</p>
        {{/formatted_grades}}
      </div>
    </div>
  </div>
  {{/circular}}
</script>

<script id="circular-history-list-tpl" type="text/html">
  {{#circulars}}
    <li class="circular-history-item" data-circular_id="{{id}}">
      <div class="pb10">
        <h4 class="circular-subject">{{ title }}</h4>
        <p class="sent-by">{{ format_created_on }} | Sent by {{#created_by}}{{name}}{{/created_by}}</p>
      </div>
      <p class="sent-to">Sent to {{formatted_recipients}}</p>
    </li>
  {{/circulars}}
  {{^circulars}}
      <li>Circulars not available</li>
  {{/circulars}}
</script>

