<div id="add-grade-popover-content" class="hidden">
<%= form_tag "/admin/schools/#{@school.id}/grades", class: 'form-inline add-grade-form', method: 'post' do %>
    <div class="col-md-12 ">
      <div class="col-md-6 mt5">
        <select id="master_grade" name="grades_data[master_grade_id]" required class="select2-option curP">
          <option disabled="disabled" selected="selected">Grade</option>
          <% master_grades.each do |master_grade|%>
              <option value="<%= master_grade.id %>"><%= master_grade.name %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control input-field" required name="grades_data[grade_name]" placeholder="Name, ex.grade I,grade II" autocomplete="off">
      </div>
    </div>

    <div class="form-group col-md-12 ">
      <h4>Assign subjects</h4>
      <ul class="checkbox_customized">
        <% master_subjects.each_with_index do |subject, index|%>
          <li class="col-md-4">
            <input type="checkbox" name="grades_data[master_subject_ids][]" value="<%= subject.id %>" id="<%= "default_subject_#{index}" %>" >
            <label for="<%= "default_subject_#{index}" %>"><%= subject.name %></label>
          </li>
        <% end %>
      </ul>
    </div>

    <!--

    <div class="col-md-12 form-group add-subject">
      <div class="col-md-6">
        <h4>Add custom subject</h4>
        <input type="text" class="form-control input-field" required name="#" placeholder="subject name,ex.maths,english" autocomplete="off">
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-primary">ADD SUBJECT</button>
      </div>
    </div>

    -->
    <div class="grade-action-btn col-md-12">
      <button type="submit" class="btn btn-primary">SAVE</button>
      <button type="button" class="btn btn-primary cancelPopoverBtn">CANCEL</button>
      <!--<button type="button" class="removeGradeBtn btn btn-primary">REMOVE</button>-->
    </div>
<% end %>
  <!-- </form> -->
</div>

