<script type="text/html" id="school_teachers_tpl">
  {{#school_teachers}}
  <li data-school_teacher_id="{{ id }}" class="curP saved_teacher" data-toggle="popover" data-value="add-teachers-popover-content">
      <img src="{{ image_url }}">
      <span class="img-caption">
          <p>{{ first_name }} {{ last_name }}</p>
          {{ cell_number }} <br>
          {{ email }}
      </span>
  </li>
  {{/school_teachers}}
</script>


<div class="modal fade" id="upload-teachers-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form class="upload-teachers-form">
          <h3>Do you want upload school teachers CSV file</h3>
          <div class="browse-file">
            <button type="button" id="btnup" class="btn btn-primary">Browse...</button>
            <input type="file" value="" name="teachers-file" id="upload-csv-file"/>
            <p id="namefile"></p>
          </div>
          <button  type="submit" class="btn btn-primary ">UPLOAD</button>
          <button  class="btn btn-primary upload-cancel">CANCEL</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="add-teachers-popover-content" class="hidden">
  <%= form_tag teacher_registration_path, class:"add-teachers-form" do %>
    <div class="form-group">
      <input type="text" class="form-control input-field" required name="teacher[first_name]" placeholder="First Name" autocomplete="off"  maxlength="20" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-field" required name="teacher[last_name]" placeholder="Last Name" autocomplete="off" maxlength="20" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-field" required name="teacher[cell_number]" placeholder="Phone" autocomplete="off"  maxlength="15" />
    </div>
    <div class="form-group">
      <input type="email" class="form-control input-field" required name="teacher[email]" placeholder="Email" autocomplete="off"  maxlength="30" />
    </div>
    <label>Assign Grades & Subjects </label>
    <div class="scroll-grade">   
      <% @school.grades.each do |grade| %>
      <div class="col-md-12 form-group assign-grade">
        <label><%= grade.name %> </label>
        <input type="hidden" name="grade_id[]" value="<%= grade.id %>"> 
        <div>
          <label>SUBJECTS</label>
          <ul class="checkbox_customized">
            <% grade.subjects.each  do |subject| %>
              <li class="col-md-12"><input type="checkbox" name="grade[<%= grade.id %>]subjects[]" value="<%= subject.id %>" id="subject<%= subject.id %>">
                <label for="subject<%= subject.id %>"><%= subject.name %></label>
              </li>
              <div class="col-md-12 pl20">
                <label>DIVISIONS</label>
                <ul class="checkbox_customized">
                  <% grade.divisions.each do |division| %>
                  <li class="col-md-4"><input type="checkbox" name="grade[<%= grade.id %>]subjects[<%= subject.id %>]divisions[]" value="<%= division.id %>" id="subject<%= subject.id %>division<%= division.id %>" >
                    <label for="subject<%= subject.id %>division<%= division.id %>"><%= division.name %></label>
                  </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>     
    <div class="assign-grade-btn">
      <button type="submit" class="btn btn-primary">SAVE</button>
      <button type="button" class="btn btn-primary cancelPopoverBtn">CANCEL</button>
      <button type="button" class="removeTeacherBtn btn btn-primary">REMOVE</button>
    </div> 
  <% end %>
</div>