<div class="schools-main-section">
  <div class="cloud_image">
    <img class="img-responsive cloud3-img" src="<%= asset_path('home/cloud_3.png') %>">
  </div>
  <div class="container">
    <ul id="school-Tab" class="nav nav-tabs">
      <li class="active">
        <a href="#schools-tab" data-toggle="tab">Schools</a>
      </li>
      <li>
        <a href="#contents-tab" data-toggle="tab">Activity</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active schools-profile-section" id="schools-tab">
          <div class="row">
            <div class="col-md-4">
              <div class="add_profile" data-toggle="tooltip" title="add school" id="create-school-btn">
                <img src="<%= asset_path('admin/plus_icon.svg') %>">
              </div>
            </div>
            <span id="schoolsContainer"></span>
          </div>
      </div>
      <div class="tab-pane fade" id="contents-tab">
        <div class="clearfix activities-header-bar p0">
          <form id="content_filter_wrapper">
              <div class="col-md-2 p0 for-label">
                <h4>Activities for</h4>
              </div>
              <div class="form-group col-md-2 select2-grade">
                <select id="grade" name="filter[master_grade_id]" required class="select2-option curP">
                  <option disabled="disabled" selected="selected">Grade</option>
                  <% @grades.each do |grade|%>
                      <option value="<%= grade.id %>"><%= grade.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="form-group col-md-3 select2-option-sc">
                <select id="subjects" name="filter[master_subject_id]" required class="select2-option curP">
                  <option disabled="disabled" selected="selected">Subject</option>
                  <% @subjects.each do |subject|%>
                      <option value="<%= subject.id %>"><%= subject.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="form-group col-md-3 select2-option-sc">
                <select id="categories" name="filter[categories][]" required class="select2-option curP">
                  <option disabled="disabled" value="" selected="selected">Category</option>
                  <% @categories.each do |category|%>
                      <option value="<%= category.id %>"><%= category.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-md-2 pull-right web-content-link">
                <a class="web-content-creation-link ">+Add Activity</a>
              </div>
          </form>
        </div>
        <div class="content-wrapper">
            <div class="activities_content_section">
              <ul id="content_list_id" class="content-list">
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "admin/schools/create_school" %>

<script id="content_list_tpl" type="text/html">
  {{#activities}}
    <li class="content-item">
      {{#status}}
        <a class="deactivate_activity pull-right ml20" data-activity-id="{{id}}">Deactivate</a>
      {{/status}}
      <a class="pull-right ml20 activity-preview" data-activity-id="{{id}}">Preview</a>
      {{^status}}
        <a class="pull-right ml20 disabled">Deactivated</a>
      {{/status}}
      <div class="clearfix">
        <h4 class="content-title pull-left">{{ title }}</h4>
        <div class="tags-right pull-right">{{ grade }} | {{ subject }}</div>
      </div>
      <p class="grade_names">{{ topic }} | {{ categories }}</p>
      <p class="edit-hint-text">Last Edited: {{ updated_at }}</p>
    </li>
  {{/activities}}
  {{^activities}}
    <li class="content-item">
      No activities found.
    </li>
  {{/activities}}
</script>

<script id="schools_list_tpl" type="text/html">
    {{#schools}}
      <div class="col-md-4">
        <div class="schools-profile">
          <a href="/admin/schools/{{ id }}">
            <div class="schools-profile-active">
              <img src="<%= asset_path('home/star.png') %>">
            </div>
            <div class="school-profile-logo">
              <div class="school-logo" style="background-image: url('<%= asset_path('school_admin.png') %>');"></div>
            </div>
            <div class="school-name-code" data-toggle="tooltip" title="{{name}}">
              <h4>{{ name }}</h4>
              <p>{{ code }}</p>
            </div>
            <div class="school-contact-info">
                <span>
                  <img src="<%= asset_path('admin/contact.svg') %>">
                  <p>{{ phone1 }} {{#phone2}}/ {{ phone2 }}{{/phone2}} </p>
                </span>
                <span>
                  <img src="<%= asset_path('admin/user.svg') %>">
                  <p>{{ principal_name }}</p>
                </span>
            </div>
          </a>
        </div>
      </div>
  {{/schools}}
</script>

<div class="modal fade" id="activity-preview-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<script id="activity-preview-detail-tpl" type="text/html">
  <div class="content-wrapper">
    <div class="close-form">X</div>
    {{#activity}}
    <div class="activity-preview-container">
      <div class="col-md-12 p0 mb10">
        <div class="col-md-6">
          <label>Grade</label>
          <p>{{grade}}</p>
        </div>
        <div class="col-md-6">
          <label>Subject</label>
          <p>{{subject}}</p>
        </div>
      </div>  
      <div class="col-md-12 mb10">
        <label>Topic</label>
        <p>{{topic}}</p>
      </div>
      <div class="col-md-12 mb10">
        <label>Activity Title</label>
        <p>{{title}}</p>
      </div>
      <div class="col-md-12 mb10">
        <label>Category</label>
            <p>
            {{#category}}
              <span>{{name}}</span>
            {{/category}}
            </p>
      </div>
      <div class="col-md-12 mb10">
        {{#teaches}}
          <label>Teaches</label>
          <p>{{teaches}}</p>
        {{/teaches}}  
      </div>
      <div class="col-md-12 mb10">
        {{#pre_requisite}}
          <label>Pre Requisites</label>
          <p>{{pre_requisite}}</p>
        {{/pre_requisite}}  
      </div>
      <div class="col-md-12 mb10">
        {{#details}}
          <label>Steps to follow</label>
          <p>{{details}}</p>
        {{/details}}
      </div>
      <div class="row pl15 pr15 mb10">    
          <label class="col-md-12">Thumbnail Image</label>
          {{#thumbnail_file}}  
            <div class="col-md-6">
              {{#s3_url}}
              <img src="{{s3_url}}">
              {{/s3_url}}
              {{^s3_url}}
              <p>Thumbnail Image Not Available</p>
              {{/s3_url}}
            </div>
          {{/thumbnail_file}}
      </div>
      <div class="row pl15 pr15">
        <label class="pl15">Reference Image</label>
        <ul class="col-md-12">
          {{#attachment}}
          <li class="col-md-4">
            <img src="{{s3_url}}">
          </li>
          {{/attachment}}
          {{^attachment}}
          <li class="col-md-4">
            <p>Reference Image Not Available</p>
          </li>
          {{/attachment}}
        </ul>
      </div>
    </div>
  {{/activity}}  
  </div>
</script>


<%= render :partial => "admin/activities/form" %>
