<div class="school-main-section">
  <div class="container">
    <ul id="school-Tab" class="nav nav-tabs">
      <li class="active">
        <a href="#school-profile-main-section-tab" aria-controls="school-profile-main-section-id" role="school-profile-main-section-id" data-toggle="tab"  data-tab-name="school_profile">School Profile</a>
      </li>
      <li>
        <a href="#students-tab" aria-controls="students-tab" role="students-tab"  data-toggle="tab" data-tab-name="students">Students</a>
      </li>
      <li>
        <a href="#circulars-tab" aria-controls="circulars-tab" role="circulars-tab"  data-toggle="tab"  data-tab-name="circulars">Circulars</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active school-profile-main-section" id="school-profile-main-section-tab">
        <div class="content-wrapper">
          <div class="header-wrapper">
            <div class="home-logo" style="background-image: url('<%= asset_path('school_admin.png') %>');"></div>
            <div class="heading-wrapper">
              <h2><%= @school.name %></h2>
              <p><%= @school.code %></p>
            </div>
          </div>
          <div class="data-wrapper">
            <div class="row mt40">
              <div class="col-md-3">
                <span class="data-title">Board</span>
                <span class="data-attr"><%= @school.board %></span>
              </div>
              <div class="col-md-4 ">
                <span class="data-title">Principle/Director/Authority</span>
                <span class="data-attr"><%= @school.principal_name %></span>
              </div>
              <div class="col-md-4">
                <span class="data-title">Website</span>
                <span class="data-attr"><a href="<%= @school.website %>"><%= @school.website %></a></span>
              </div>
            </div>
            <div class="row mt40">
              <div class="col-md-6">
                <span class="data-title">Address</span>
                <span class="data-attr"><address><%= @school.address %></address></span>
              </div>
              <div class="col-md-2 ">
                <span class="data-title">Zip Code</span>
                <span class="data-attr"><%= @school.zip_code %></span>
              </div>
              <div class="col-md-2">
                <span class="data-title">Phone</span>
                <span class="data-attr"> <%= @school.phone1 %></span>
              </div>
              <div class="col-md-2 last-col">
                <span class="data-title">Phone (Alternate)</span>
                <span class="data-attr"> <%= @school.phone2 %></span>
              </div>
            </div>
            <div class="mt30 admin-detail-section">
              <span class="data-title">School Admin (will get credentials to log into system)</span><br>
              <div class="overflow">
                <table id="schoolAdminContainer" class="admin-data">
                </table>
              </div>
              <div class="mt10">
                <span id="add-admin"><a id="add-school-administrator-popover" data-toggle="popover" data-value="add-school-administrator-popover-content">+Add Another Administrator</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="tab-wrapper">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active">
                <a href="#grade-sub-tab" aria-controls="grade-sub-tab" role="grade-sub-tab" data-toggle="tab">Grades & Subjects</a>
              </li>
              <li>
                <a href="#teachers-tab" aria-controls="teachers-tab" role="teachers-tab"  data-toggle="tab">Teachers</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="grade-sub-tab">
                <div>
                  <div class="add_grade">
                    <a id="add-grade-popover" tabindex="0" data-toggle="popover" role="button" data-value="add-grade-popover-content" >+ Add grade</a>
                  </div>
                </div>
                <div class="overflow">
                  <div id="schoolGradeContainer">

                  </div>
                </div>
                <script type="text/html" id="school_grade_tpl">
                {{#grades}}
                  <div class="subject-wrapper">
                    <span class="data-title plr20">{{grade_name}}</span>
                    <span class="delete_grade pull-right" data-grade-id="{{grade_id}}"><a> - Delete Grade {{grade_name}}</a></span>
                    <!-- <span id="add-sub"><a id="add-subject-popover" data-toggle="popover" data-value="add-subject-popover-content" data-placement="left" data-grade_id="{{grade_id}}">+Add Subject</a></span> -->
                    <div class="data-attr">
                      <div class="subject-tab-wrapper">
                      <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
                        <ul id="subject-tab" class="nav nav-tabs subject-list">
                        {{#subjects}}
                          <li><a href="#{{subject_id}}" data-toggle="tab">{{subject_name}}</a></li>
                        {{/subjects}}
                        </ul>
                      </div>
                      <%= render :partial => "admin/schools/add_subjects" %>
                      <div class="tab-content">
                        {{#subjects}}
                        <div class="tab-pane fade in division-wrapper inner-tabs" id="{{subject_id}}">
                          <div class="plr20"><span class="data-title"><a class="fa fa-chevron-down no-of-div"></a>5 Divisions</span></div>
                          <div class="slide-division-wrapper">
                            <div class="plr20">
                              <ul id="myTab" class="nav nav-tabs division-list">
                                {{#divisions}}
                                  <li data-division_id="{{division_id}}" data-division_name="{{division_name}}"><a href="#{{division_id}}" data-toggle="tab">{{division_name}}</a></li>
                                {{/divisions}}
                              </ul>
                            </div>
                            <div class="div-operation">
                              <span><a id="add-division-popover" data-toggle="popover" data-value="add-division-popover-content" data-grade_id="{{grade_id}}">+Add Division</a></span>
                                <span class="current_division"><a>+Delete Division A</a></span>
                              <%= render :partial => "admin/schools/add_divisions"%>
                            </div>
                            <div id="myTabContent" class="tab-content">
                              {{#divisions}}
                              <div class="tab-pane fade in" id="{{division_id}}">
                                <div class="teachers-wrapper">
                                  <ul>
                                  {{#teacher}}
                                    <li><a id="teachers-info-popover" data-toggle="popover" data-value="teachers-info-popover-content" data-trigger="hover"><div><img src="https://dummyimage.com/45x45/2abdda/0011ff&text=dps"><span class="img-caption">
                                    <p>{{first_name}} {{last_name}}</p>{{subject_name}}</span></div></a></li>
                                    <div id="teachers-info-popover-content" class="hidden">
                                      <div>
                                        <p>{{first_name}} {{last_name}}</p>
                                        <p>{{phone}}</p>
                                        <p>{{email}}</p>
                                      </div>
                                    </div>
                                  {{/teacher}}
                                  </ul>
                                </div>
                              </div>
                              {{/divisions}}
                            </div>
                          </div>
                        </div>
                        {{/subjects}}
                      </div>
                    </div>
                  </div>
                {{/grades}}
                </script>
              </div>
              <div id="teachers-tab" class="tab-pane fade">
                <div class="pull-right upload-sheet">Upload spreadsheet</div>
                <div class="teachers-wrapper">
                  <ul id="schoolTeacherContainer">
                    <li id="add-teachers-popover" class="curP" data-toggle="popover" data-value="add-teachers-popover-content">
                        <div class="add-teacher"><img src="<%= asset_path('admin/plus_icon.svg') %>"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%= render :partial => "admin/schools/students" %>
      <%= render :partial => "admin/schools/circulars" %>
    </div>
  </div>
</div>
<%= render :partial => "admin/schools/grades", locals: { master_grades: @master_grades, master_subjects: @master_subjects } %>

<%= render :partial => "admin/schools/school_teacher" %>

<%= render :partial => "admin/schools/school_admin" %>

