<div class="teacher-schloopmarking-main-section">
	<div class="cloud_image">
    	<img class="img-responsive" src="<%= asset_path('home/cloud_3.png') %>">
  	</div>
	<div class="container">
	    <ul id="schloopmarking-Tab" class="nav nav-tabs">
	      <li>
	        <a href="#feeds" aria-controls="feeds-tab" role="feeds-tab" data-toggle="tab"  data-tab-name="feeds">Feeds</a>
	      </li>
	      <li class="active">
	        <a href="#my-topics" aria-controls="my-topics-tab" role="my-topics-tab"  data-toggle="tab" data-tab-name="my_topics">My Topics</a>
	      </li>
	      <li>
	        <a href="#collaboration" aria-controls="collaboration-tab" role="collaboration-tab"  data-toggle="tab"  data-tab-name="collaboration">Collaboration</a>
	      </li>
	      <li>
	        <a href="#followups" aria-controls="followups-tab" role="followups-tab"  data-toggle="tab"  data-tab-name="followups">Followups</a>
	      </li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane fade in" id="feeds">
	        <div class="content-wrapper">
	          <h1>teacher dashboard feed</h1>
	        </div>
	      </div>
	      <div class="tab-pane fade in active" id="my-topics">
	        <div class="content-wrapper">
	          	<div class="col-md-3 sidebar">
		          	<div class="select-filter-tag-section">
		          		<span><a id="select-filter-tag-popover" data-toggle="popover" data-value="select-filter-tag-popover-content" data-placement="bottom"></a><i class="fa fa-chevron-down"></i></span>
		          		<div id="select-filter-tag-popover-content" class="hidden">
		          			<form action="/admin/teachers/dashboards/get_topics" method="POST" class="grade-subject-form">
							  <div class="grade-selection">
							 	<% @grade_teacher_data.each do |grade| %>
								  	<div class="col-md-12 select-grade-subject p0 mb10">
							            <label data-grade_id="<%= grade[:grade_id] %>"><%= grade[:grade_name] %></label>
					                      <ul class="radio_customized">
					                      	<% grade[:subjects_data].each  do |subject| %>
						                        <li class="col-md-4 pl10 pr10">
						                        	<input type="radio" name="subjects" value="<%= subject[:subject_id] %>" id="<%= subject[:subject_id] %>">
						                          <label for="<%= subject[:subject_id] %>"><%= subject[:subject_name] %></label>
						                        </li>
					                     	<% end %>
					                      </ul>
						            </div>
					        	<% end %>    
							  </div>
						  	</form>
						</div>
		          	</div>
		          	<ul class="nav nav-sidebar topics-list">
		          	</ul>
		          	<div class="new-topic mt20">
		          		<span class="add-topic">+ Add New Topic</span>
		          	</div>
	          	</div>
	          	<div class="col-md-9 topics-view-section p0">
	          		<div class="create-topic-content">
	          			<form class="add-topic-content-form">
		          			<div class="content-editor-section col-md-12">
		          				<div class="col-md-10 content-editor" contenteditable="true" placeholder="Paste a url of an image, video, file or paste any note to add comment..."></div>
		          				<div class="col-md-2 p0">
		          			    	<button role="button" class="add-topic-content-btn">Add</button>
		          				</div>
		          			</div>
	          			</form>
	          		</div>
	          		<div class="bookmarks-section">
	          			
	          		</div>
	          	</div>
	        </div>
	      </div>
	      <%= render :partial => "admin/teachers/dashboards/collaborations" %>
	      <%= render :partial => "admin/teachers/dashboards/followups"%>
	    </div>
	</div>        
</div>

<div class="modal fade" id="add-topic-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<%= form_tag '', class:"add-topic-form", novalidate: true, onsubmit: 'return false' do %>
	      	<label>GRADE I - SCIENCE | Add New Topic</label>
	      	<div class="input-form-group">
				<input type="text" class="caption-field" required name="title" placeholder="Topic name" autocomplete="off"  maxlength="50" />
			</div>
			<div class="clearfix">
				<button class="btn btn-primary pull-right mt20 add-topic-btn" type="button">ADD TOPIC</button>
			</div>
		<% end %>	
	  </div>
    </div>
  </div>
</div> 

<script type="text/html" id="topic_bookmarks_tpl">
	{{^bookmarks}}
		<div class="bookmark-not-found">
			<h4>No schloopmark found...</h4>
		</div>
	{{/bookmarks}}
	{{#bookmarks}}
  		<div class="topics-list-section">
  			<div class="title-of-topic">
  				<div class="created-by-teacher-img" style="background-image: url('https://dummyimage.com/45x45/2abdda/0011ff&text=1');">
  					<!-- <div class="home-logo" "></div> -->
  				</div>
  				<div class="created-by-teacher-detail">
  					<p>{{title}}</p>
  					<span><time class="timeago" datetime="{{updated_at}}" title="{{id}}"></time></span>
  				</div>
  				<div class="bookmarks-action">
  					<p class="bookmark-edit" data-bookmark_id={{id}}>Edit</p>
  					<p class="bookmark-delete" data-bookmark_id={{id}}>Delete</p>
  				</div>
  			</div>
  			<div class="content-of-topic">
  				<div class="content-caption-section">
  					{{^caption}}
  					<form class="caption-form">
	  					<div class="input-form-group">
	  						<input type="hidden" name="bookmark_id" value="{{id}}">
					      <input type="text" class="caption-field" required name="caption" placeholder="Add a caption" autocomplete="off"  maxlength="100" />
					      <button data-bookmark_id="{{id}}" class="save-caption">Save</button>
					    </div>
				    </form>
				    {{/caption}}
				    {{#caption}}
				    	<p>{{caption}}</p>
				    {{/caption}}
  				</div>
  				<div class="content-view-section">
  					{{#is_text}}
  						<div class="sm-area">
	  						<div class="data">{{{data}}}</div>
	  					</div>
	  					<a href="#" class="more">More...</a>
  					{{/is_text}}
  					{{^is_text}}
  						<a href="{{url}}" target="_blank"><img src="{{preview_image_url}}" style="width: 300px; height: 150px"></a>
  					{{/is_text}}
  				</div>
  				<div class="share-topic-section">
  					<div class="share-topic share-for-collaboration" data-bookmark_id="{{id}}">
  						<img src="<%= asset_path('admin/collaboration.svg') %>">
  						<span>Share for collaboration</span>
  					</div>
  					<div class="share-topic">
  						<img src="<%= asset_path('admin/follow_up.svg') %>">
  						<span>Followup for parents</span>
  					</div>
  				</div>
  			</div>
  		</div>
	{{/bookmarks}}
</script> 

<div class="modal fade" id="bookmark-edit-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      	<%= form_tag '', class:"bookmark-edit-form", novalidate: true, onsubmit: 'return false' do %>
      		<div class="close-edit-modal">x</div>
      		<input type="hidden" name="bookmark[id]">
	      	<div class="form-group">
				<input type="text" class="input-field" required name="bookmark[caption]" placeholder="Add a caption" autocomplete="off"  maxlength="100" />
			</div>
			<div class="bookmark-content-editor col-md-12 p0">
		        <div class="content-editor-update" contenteditable="true" placeholder="Paste a url of an image, video, file or paste any note to add comment..."></div>
		    </div>
			<div class="clearfix">
				<button class="btn btn-primary pull-right mt20 bookmark-edit-btn" type="button">Save</button>
			</div>
		<% end %>	
	  </div>
    </div>
  </div>
</div> 
