<div class="footer-img">
    <img class="left-trees pa img-responsive hidden-xs" src="<%= asset_path('home/left_trees.png') %>">
    <img class="alarm_clock pa img-responsive hidden-xs" src="<%= asset_path('gif/alarm_clock.gif') %>">
    <img class="school-img pa img-responsive hidden-xs" src="<%= asset_path('gif/school.gif') %>">
    <div class="oval pa"></div>
    <img class="bulb pa img-responsive hidden-xs" src="<%= asset_path('gif/bulb.gif') %>">
    <img class="center-trees pa img-responsive hidden-xs" src="<%= asset_path('home/center_trees.png') %>">
    <img class="bench pa img-responsive hidden-xs" src="<%= asset_path('home/bench.png') %>">
    <img class="cup pa img-responsive hidden-xs" src="<%= asset_path('home/cup.png') %>">
    <img class="ball pa img-responsive hidden-xs" src="<%= asset_path('home/ball.png') %>">
    <img class="globe pa img-responsive hidden-xs" src="<%= asset_path('home/globe.png') %>">
    <img class="books pa img-responsive hidden-xs" src="<%= asset_path('home/books.png') %>">
    <img class="rigth-trees pa img-responsive hidden-xs" src="<%= asset_path('home/rigth_trees.png') %>">
</div>
<footer></footer>