<!DOCTYPE html>
<html>
<head>
  <title>Schloop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag 'admin/admin', media: 'all' %>
  <link rel="shortcut icon" type="image/ico" href="<%= asset_path('favicon.ico') %>" />
  <%= csrf_meta_tags %>
</head>
<body>


<div class="product-admin-dashborad">
	<div class="cloud-banner">
		<img src="<%= asset_path('admin/cloud_bannr1.svg') %>">
		<img class="cloud-bannr" src="<%= asset_path('admin/cloud_bannr22.png') %>">
	</div>
	<div class="admin-header-section">
		<div class="schloop-logo-align">
			<a href="/"><img class="schloop-img" src="<%= asset_path('home/schloop.png') %>"></a>
		</div>
		<div class="admin-profile-header">
			<div class="admin-profile">
				<div class="profile-photo"></div>
			</div>
			<div class="admin-profile-manu">
				<p class="user_name"><%= current_user.first_name %> <%= current_user.last_name %></p>
        <p class="change-pwd-link" data-toggle="modal" data-target="#changePasswordModal"><a>Change password</a></p>
				<p><a href='/users/sign_out'>Sign Out</a></p>
			</div>
		</div>
	</div>
	<%= yield %>
  <%= render partial: "layouts/footer_section"%>
</div>

<%= javascript_include_tag 'admin/admin' %>

<%= render partial: "layouts/change_password", locals: { update_password_url: '/admin/user/update_password' } %>

<script id="selectedFileTr" type="text/html">
  <tr class='selectedFile'>
    <td>{{name}}</td>
    <td class="text-right">
      <button type='button' class='delete delete-cross'><!-- <i class='fa fa-trash f16'></i> -->x</button>
    </td>
  </tr>
</script>

<script id="uploadedFileTr" type="text/html">
  <tr>
    <td style="word-wrap: break-word;">
      <a target='_blank' href="{{url}}">
        {{name}}
      </a>
      <input type="hidden" name="attachment_ids[]" value="{{id}}">
    </td>
    <td>{{format}}</td>
    <td>{{size}}</td>
  </tr>
</script>

<script type="text/javascript">
  $(document).on('ready', function() {
    <%
     js_obj = {
       :controller => params[:controller],
       :action => params[:action]
     }
     if @js_data.present?
        js_obj.merge!(@js_data);
     end
     if Rails.env != 'production'
       js_obj[:env] = Rails.env
     end
   %>
    schloopAdmin = new SchloopAdmin(<%= raw(js_obj.to_json) %>);
  });
</script>


</body>
</html>
